.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
webpack.config.mjs
package-lock.json
*.svg
*.log
.eslintcache
node_modules/**
out/**
dist/webviews/*.map
